<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tech blog</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">home</a>
            <a href="/dashboard">dashboard</a>
            {{#if loggedIn}}
            <button id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            <a href="/signup">signup</a>
            {{/if}}
        </nav>
        <h1>tech blog</h1>
    </header>
    <main>
        <div>
            {{{body}}}
        </div>
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>