<form id="edit-form">
    <div>
        <label>title</label>
        <textarea id="title-input" maxlength="50">{{title}}</textarea>
    </div>
    <div>
        <label>body</label>
        <textarea id="body-input" rows="10">{{body}}</textarea>
    </div>
    <div>
        <button type="submit">update</button>
    </div>
</form>

<script src="/js/edit.js"></script>