<form id="post-form">
    <div>
        <label>title</label>
        <input id="title-input" maxlength="50" />
    </div>
    <div>
        <label>body</label>
        <textarea id="body-input" rows="10"></textarea>
    </div>
    <div>
        <button type="submit">post</button>
    </div>
</form>

<script src="/js/post.js"></script>